<div class="day__title-container">
    <div class="day__title">{{title}}</div>
    <div class="day__remove" title="Удалить этот день"></div>
</div>
<div class="day__events">
    <ul class="day__events-list"></ul>
    <div class="day__add-event hide-on-print" title="Добавить ещё занятий в этот день">
        <div class="day__add-event__icon"></div>
    </div>
</div>