<div class="day__title-container">
    <div class="day__title">{{title}}</div>
</div>
<div class="day__events">
    <ul class="children"></ul>
    <div class="day__add-event">
        <div class="day__add-event__icon"></div>
    </div>
</div>