<span class="event__start-time">{{formattedDate}}</span>
<span class="event__title">{{title}}</span>
<input class="event__title-input" value="{{title}}" />
{{#if lecturer}}
<span class="event__lecturer">({{lecturer}})</span>
{{/if}}