<div class="schedule">
    <h1 class="schedule__header" title="Альфа версия">
        <span class="red">П</span>рограмма ШРИ
        <span class="schedule__version">&#x3b1;</span>
    </h1>
    <div class="schedule__start-again">
        <a class="schedule__start-again__button" href="#">Начать сначала</a>
    </div>
    <ul class="days children"></ul>
</div>