<div class="schedule">
    <h1 class="schedule__header" title="Альфа версия">
        <span class="red">П</span>рограмма ШРИ
        <span class="schedule__version">&#x3b1;</span>
    </h1>
    <ul class="days children"></ul>
</div>