<div class="schedule">
    <h1 class="schedule__header" title="Альфа версия">
        <span class="red">П</span>рограмма ШРИ
        <span class="schedule__version">&#x3b1;</span>
    </h1>
    <div class="schedule__buttons hide-on-print">
        <a class="schedule__button schedule__start-again__button" href="#">Начать сначала</a>
        <a class="schedule__button schedule__print__button" href="#">Распечатать</a>
        <a class="schedule__button schedule__load-2012__button" href="#">Загрузить лекции 2012</a>
    </div>
    <ul class="schedule__days"></ul>
    <div class="schedule__add-day">
        <div class="schedule__button">Добавить день</div>
    </div>
</div>