<div class="schedule">
    <h1 class="schedule__header" title="Альфа версия">
        <span class="red">П</span>рограмма ШРИ
        <span class="schedule__version">&#x3b1;</span>
    </h1>
    <div class="schedule__buttons hide-on-print">
        <a class="schedule__button schedule__start-again__button" href="#">Начать сначала</a>
        <a class="schedule__button schedule__print__button" href="#">Распечатать</a>
        <a class="schedule__button schedule__load-2012__button" href="#">Загрузить лекции 2012</a>
        <a class="schedule__button schedule__toggle-import-export__button" href="#">Импорт/Экспорт</a>
    </div>
    <div class="schedule__textarea-container hide-on-print">
        <textarea class="schedule__textarea"></textarea>
        <a class="schedule__button schedule__export-json__button" href="#">Экспортировать JSON</a>
        <a class="schedule__button schedule__import-json__button" href="#">Импортировать JSON</a>
        <a class="schedule__button schedule__export-ical__button" href="#">Экспортировать iCal</a>
        <a class="schedule__button schedule__import-ical__button" href="#">Импортировать iCal</a>
    </div>
    <ul class="schedule__days"></ul>
    <div class="schedule__add-day">
        <div class="schedule__button schedule__add-day__button">Добавить день</div>
    </div>
</div>