.day {
  width: 100%;
  margin: 5px;
  list-style: none;
}

.day__title-container {
  vertical-align: top;
  width: 20%;
  min-height: 20px;
  min-width: 100px;
  display: inline-block;
  position: relative;
}

.day__title {
  cursor: default;
  display: block;
  position: absolute;
  right: 0;
  font-size: .8em;
  color: #ccc;
  text-transform: uppercase;

  -moz-transform-origin: 100% 100% 0;
  -webkit-transform-origin: 100% 100% 0;
  -o-transform-origin: 100% 100% 0;
  transform-origin: 100% 100% 0;

  -moz-transition: -moz-transform .5s;
  -webkit-transition: -webkit-transform .5s;
  -o-transition: -o-transform .5s;
  transition: transform .5s;
}

.schedule__loading .day__title {
  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

.day:hover .day__title {
  color: #999;
}

.day.day__today .day__events {
  background-color: #fefbe8;
  border-left: 3px solid #f00;
}

.day.day__today .day__title {
  color: #000;
}

.day.day__future .day__title {
  color: #555;
}

.day.expanded .day__title  {
  -ms-transform:     translate(0, -100%) rotate(-90deg);
  -webkit-transform: translate(0, -100%) rotate(-90deg);
  -o-transform:      translate(0, -100%) rotate(-90deg);
  -moz-transform:    translate(0, -100%) rotate(-90deg);
  transform:         translate(0, -100%) rotate(-90deg);
}

.day__events {
  border-left: 3px solid #ccc;
  display: inline-block;
  min-height: 20px;
  width: 50%;
}

.day__add-event {
  cursor: pointer;
  padding-left: 1em;
}

.day__add-event__icon {
  display: block;
  opacity: 0;
  margin: 0 auto;
  width: 16px;
  height: 16px;
  background: url("../pix/icon-add.png") no-repeat;

  -moz-transition: opacity .2s;
  -webkit-transition: opacity .2s;
  -o-transition: opacity .2s;
  transition: opacity .2s;
}

.day__events:hover .day__add-event__icon {
  opacity: .3;
}

.day__add-event:hover .day__add-event__icon {
  opacity: 1 !important;
}

.day__remove {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 16px;
  background: url("../pix/icon-remove.png");
  cursor: pointer;
}

.day__title-container:hover .day__remove {
  display: block;
}

@media print {
  .day {
    display: none;
  }

  .day.expanded {
    display: block;
  }

  .day.expanded .day__title  {
    -ms-transform:     none;
    -webkit-transform: none;
    -o-transform:      none;
    -moz-transform:    none;
    transform:         none;
  }
}