.day {
  width: 100%;
  margin: 5px;
  list-style: none;
}

.day__title-container {
  vertical-align: top;
  width: 15%;
  display: inline-block;
  position: relative;
}

.day__title {
  cursor: default;
  display: block;
  position: absolute;
  right: 0;
  font-size: .8em;
  color: #ccc;
  text-transform: uppercase;

  -moz-transform-origin: 100% 100% 0;
  -webkit-transform-origin: 100% 100% 0;
  -o-transform-origin: 100% 100% 0;
  transform-origin: 100% 100% 0;

  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.day.expanded .day__title-container {

}

.day.expanded .day__title  {
  -ms-transform:     translate(0, -100%) rotate(-90deg);
  -webkit-transform: translate(0, -100%) rotate(-90deg);
  -o-transform:      translate(0, -100%) rotate(-90deg);
  -moz-transform:    translate(0, -100%) rotate(-90deg);
  transform:         translate(0, -100%) rotate(-90deg);
}

.day__events {
  border-left: 3px solid #ccc;
  padding-left: 5px;
  display: inline-block;
  min-height: 1em;
  min-width: 30em;
}

.day__add-event {
  cursor: pointer;
  padding-left: 1em;
}

.day__add-event__icon {
  display: block;
  opacity: 0;
  margin: 0 auto;
  width: 16px;
  height: 16px;
  background: url("../pix/icon-add.png") no-repeat;

  -moz-transition: opacity .2s;
  -webkit-transition: opacity .2s;
  -o-transition: opacity .2s;
  transition: opacity .2s;
}

.day__events:hover .day__add-event__icon {
  opacity: .3;
}

.day__add-event:hover .day__add-event__icon {
  opacity: 1 !important;
}