.days {

}

.day {
  width: 100%;
  margin: 5px;
  list-style: none;
}

.day__title-container {
  vertical-align: top;
  width: 20%;
  display: inline-block;
  position: relative;
}

.day__title {
  cursor: default;
  display: block;
  position: absolute;
  right: 0;
  font-size: .8em;
  color: #ccc;
  text-transform: uppercase;

  -webkit-transform-origin: 100% 100% 0;

  -moz-transition: all .2s;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.day.expanded .day__title-container {

}

.day.expanded .day__title  {
  -ms-transform:     translate(0, -100%) rotate(-90deg); /* IE 9 */
  -webkit-transform: translate(0, -100%) rotate(-90deg); /* Safari and Chrome */
  -o-transform:      translate(0, -100%) rotate(-90deg); /* Opera */
  -moz-transform:    translate(0, -100%) rotate(-90deg); /* Firefox */
  transform:         translate(0, -100%) rotate(-90deg);
}

.day__events {
  border-left: 3px solid #ccc;
  padding-left: 5px;
  display: inline-block;
  min-height: 1em;
  min-width: 300px;
}

.day__add-event__icon {
  display: block;
  cursor: pointer;
  visibility: hidden;
  margin: 0 auto;
  width: 16px;
  height: 16px;
  background: url("../pix/icon-add.png") no-repeat;
}

.day:hover .day__add-event__icon {
  visibility: visible;
}