.event {
  font-size: 14px;
  list-style: none;

  position: relative;
  padding: .5em;
  margin: .5em;
  min-height: 1.5em;
  min-width: 400px;
  line-height: 1.5em;

  background-color: #fff;
  border: 1px solid #eee;

  -moz-transition: all .2s;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.event__lecturer {
  color: #ccc;
}

.event__title,
.event__time {
  margin-right: 3px;
}

.event:hover {
  border: 1px solid #ddd;
  box-shadow: 0 0 5px #ddd;
}

.event:hover .event__lecturer {
  color: #999;
}

.event__editable {
  display: inline-block;
}

.event__editing .event__hide-on-edit {
  display: none;
}

.event__resizer {
  width: 100%;
  position: absolute;
  bottom: 0;
  visibility: hidden;
  cursor: ns-resize;
  height: 7px;
}

.event__resize-icon {
  border-bottom: 3px double #aaa;
  width: 10px;
  margin: 0 auto;
}

.event:hover .event__resizer {
  visibility: visible;
}

.event.selected {
  background-color: #f8f5ec;
}

.event__show-on-edit {
  font-size: inherit;
  display: none;
  padding: 0;
  margin: 0;
  border: 1px solid #aaa;
}

.event__editing .event__show-on-edit {
  display: inline-block;
  border: none;
}