.event {
  font-size: 14px;
  list-style: none;

  position: relative;
  padding: .5em;
  margin: .5em;
  min-height: 1.5em;
  line-height: 1.5em;

  background-color: #fff;
  border: 1px solid #eee;

  -moz-transition: all .2s;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.event:hover {
  border: 1px solid #ddd;
  box-shadow: 0 0 5px #ddd;
}

.event:hover .event__lecturer {
  color: #888;
}

.event__editing_title .event__title,
.event__editing_lecturer .event__lecturer,
.event__editing_time .event__time {
  display: none;
}

.event__time {
  margin-right: .2em;
}

.event__lecturer {
  margin-left: .2em;
  color: #aaa;
}

.event__resizer {
  width: 100%;
  position: absolute;
  bottom: 0;
  visibility: hidden;
  cursor: ns-resize;
  height: 7px;
}

.event__resize-icon {
  border-bottom: 3px double #aaa;
  width: 10px;
  margin: 0 auto;
}

.event:hover .event__resizer {
  visibility: visible;
}

.event.selected {
  background-color: #f8f5ec;
}

.event__title-input,
.event__lecturer-input,
.event__time-input {
  font-size: inherit;
  display: none;
  padding: 0;
  margin: 0;
  border: 1px solid #aaa;
}

.event__editing_title .event__title-input,
.event__editing_lecturer .event__lecturer-input,
.event__editing_time .event__time-input {
  display: inline-block;
  border: none;
}