.event {
  font-size: 14px;
  list-style: none;

  padding: .5em;
  margin: .5em;
  width: 30em;
  min-height: 1.5em;
  line-height: 1.5em;

  background-color: #fff;
  border: 1px solid #eee;

  -moz-transition: all .2s;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.event:hover {
  border: 1px solid #ddd;
  box-shadow: 0 0 5px #ddd;
}

.event:hover .event__lecturer {
  color: #888;
}

.event__editing_title .event__title {
  display: none;
}

.event__start-time {
  margin-right: .2em;
}

.event__lecturer {
  margin-left: .2em;
  color: #aaa;
}

.event.selected {
  background-color: #f8f5ec;
}

.event__title-input {
  font-size: inherit;
  display: none;
  padding: 0;
  margin: 0;
  border: 1px solid #aaa;
}

.event__editing_title .event__title-input {
  display: inline-block;
  border: none;
}