@import url("reset.css");
@import url("day.css");
@import url("event.css");

html, body {
  height: 100%;
  font-family: Arial, sans-serif;
}

.loading {
  position: absolute;

  width: 6em;
  margin-top: 30%;
  margin-left: 50%;
  left: -3em;

  vertical-align: middle;
  text-align: center;
}

.ya-logo {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 64px;
  height: 24px;

  background: #fff url("../pix/ya-logo.png") no-repeat;
}