@import url("reset.css");
@import url("event.css");

html, body {
  height: 100%;
  font-family: Arial, sans-serif;
}

.loading {
  position: absolute;

  width: 6em;
  margin-top: 30%;
  margin-left: 50%;
  left: -3em;

  vertical-align: middle;
  text-align: center;
}