.schedule__header {
  font-size: 2em;
  cursor: default;
}

.red {
  color: #f00;
}

.schedule__version {
  vertical-align: super;
}

.schedule__buttons {
  display: block;
  width: 100%;
  text-align: left;
}

.schedule__button {
  display: inline-block;
  font-size: 10px;
  margin-top: 10px;
  margin-right: 5px;
  cursor: pointer;

  color: #aaa;
  text-decoration: none;
}

.schedule__button:hover {
  color: #999;
  border-bottom: 1px dashed #999;
}

.schedule__add-day {
  text-align: center;
}

.schedule__textarea-container {
  display: none;
}

.schedule__textarea {
  margin: 5px;
  display: block;
  width: 100%;
  height: 30px;
  font-size: 8px;
}

@media (min-width: 960px) {
  .schedule {
    margin: 2em auto;
    width: 960px;
  }

  .schedule__days {
    margin-top: 30px;
  }
}

@media (min-width: 600px) and (max-width: 960px) {
  .schedule {
    min-width: 600px;
    width: 100%;
  }

  .schedule__days {
    margin-top: 30px;
  }

  .schedule__header {
    text-align: center;
  }

  .schedule__buttons {
    text-align: center;
  }
}

@media print {
  .schedule__header {
    text-align: center;
  }

  .schedule__buttons,
  .schedule__button {
    display: none;
  }
}